<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>FRESH FRUITS MARKET</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>FRESH FRUIT MARKET</div>
        <hr>
        <tr>
            <th>Fruit : </th><td th:text="${name}"></td></br></br>
            <th>Price per kg : </th><td th:text="${price}"></td></br></br>
            <th>Quantity (kg) : </th><td th:text="${quantity}"></td></br></br>
            <th>Total (Rp): </th><td th:text="${total}"></td></br></br>
            <th>Discount : </th><td th:text="${discount}"></td></br></br>
            <th>Pay (Rp) : </th><td th:text="${pay}"></td></br></br>
        </tr>
        
    </body>
</html>
