<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>FRESH FRUITS MARKET</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>FRESH FRUITS MARKET INVOICE</div>
        <div>THANK YOU FOR SHOPPING HERE!</div>
        <hr>
        <tr>
            <th>Fruit           : </th><td th:text="${name}"></td></br></br>
            <th>Price per kg    : Rp </th><td th:text="${price}"></td></br></br>
            <th>Quantity (kg)   : </th><td th:text="${quantity}"><th> kg </th></td></br></br>
            <th>Total           : Rp </th><td th:text="${pricetotal}"></td></br></br>
            <th>Discount        : </th><td th:text="${discount}"></td></br></br>
            <th>Discount amount : Rp </th><td th:text="${totalDiscount}"></td></br></br>
            <th>Final price     : Rp </th><td th:text="${finalPrice}"></td></br></br>
        </tr>
    
    </body>
</html>
